body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3e3d3f;
}

.mainContainer {
  margin: 10px;
  display: grid;
  padding-bottom: 20px;
}
.mainContainer .divTitle {
  padding: 13px 10px 20px 10px;
}
.mainContainer .divTitle .appTitle {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #006ea0;
}
.mainContainer .divTitle .titleHr {
  height: 0.5px;
  margin-top: 10px;
  background-color: #cacaca;
  text-align: left;
}
.mainContainer .form {
  border-radius: 4px;
  padding: 15px 20px 20px 20px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  display: grid;
  row-gap: 5px;
  margin: 0px;
}
.mainContainer .form .formTitle {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
}
.mainContainer .form .formLine {
  margin: 0px;
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
}
.mainContainer .form #formContainer {
  margin-top: 10px;
  background-color: #ffffff;
  display: grid;
  row-gap: 13px;
}
.mainContainer .form #formContainer .formLabel {
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
}
.mainContainer .form #formContainer .slidecontainer {
  margin: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 9.62% 60.77% 10.38% 19.23%;
  height: 40px;
  vertical-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
}
.mainContainer .form #formContainer .slidecontainer .rangeLabel {
  padding-top: 12px;
  padding-right: 16%;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider {
  padding: 6px 2.78% 6px 0;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider {
  height: 8px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: linear-gradient(to right, #1091cc 0%, #1091cc 50%, #cacaca 50%, #cacaca 100%);
  border-radius: 6px;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider:focus {
  outline: none;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider:hover {
  opacity: 1;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider::-webkit-slider-thumb {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
  background-color: #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
.mainContainer .form #formContainer .slidecontainer .rangeInput input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #a6a6a6;
  background-color: #ffffff;
}
.mainContainer .form #formContainer .invalidMessage {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #da3535;
  display: none;
}
.mainContainer .form #formContainer .displayInvalid {
  display: block;
}
.mainContainer .form #formContainer .splitedColumns {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 7.69%;
}
.mainContainer .form #formContainer .currencyContainer {
  border: solid 1px #a6a6a6;
  border-radius: 4px;
  padding: 12px 15px;
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 5px;
}
.mainContainer .form #formContainer .currencyContainer input {
  width: 100%;
  border: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  padding: 0;
  letter-spacing: 0.3px;
  color: #0d0d0d;
}
.mainContainer .form #formContainer .currencyContainer:before {
  content: "$";
}
.mainContainer .form #formContainer #calculateButton {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #0077c0;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}
.mainContainer #resultsContainer {
  vertical-align: top;
  margin-top: 45px;
  width: 20%;
  height: 100%;
  display: inline-block;
  background-color: #eaf6fa;
  padding: 35px 40px;
  animation: slide-down 2s ease;
}
.mainContainer #resultsContainer .resultsTitle {
  font-weight: inherit;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: normal;
}
.mainContainer #resultsContainer .smallLabel {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0px;
  line-height: 2.14;
}
.mainContainer #resultsContainer .resultValue {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  line-height: 1.67;
}
.mainContainer #resultsContainer .resultValue::before {
  content: " $ ";
}
.mainContainer #resultsContainer .emptyValue {
  color: #a1a1a1;
}
.mainContainer #resultsContainer .totalLabel {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}
.mainContainer #resultsContainer .totalValue {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  line-height: 1.67;
}
.mainContainer #resultsContainer .totalValue::before {
  content: " $ ";
}
.mainContainer #resultsContainer .resultLine {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
}
.mainContainer #resultsContainer .mobileShown {
  display: none;
}
@media screen and (max-width: 760px) {
  .mainContainer #resultsContainer {
    width: 80%;
    margin: 0px 10px;
    display: none;
  }
  .mainContainer #resultsContainer .resultLine, .mainContainer #resultsContainer .mobileShown {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
  }
  .mainContainer #resultsContainer .resultDiv {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainContainer #resultsContainer .resultDiv p {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    margin: 0px;
    width: 58%;
  }
  .mainContainer #resultsContainer .resultDiv .resultValue {
    width: 40%;
    text-align: right;
  }
  .mainContainer #resultsContainer .resultDiv .totalValue {
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    width: 40%;
    text-align: right;
  }
}
@media screen and (max-width: 760px) {
  .mainContainer #resultsContainer.mobileElement {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
