.mainContainer {
  margin-top: 10px;
  height: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  border: 0.1px solid lightsteelblue;
  padding: 50px 30px;
}
.mainContainer .divTitle {
  margin: 10px 50px;
}
.mainContainer .divTitle .appTitle {
  font-weight: normal;
  line-height: 1.36;
  text-align: left;
  color: #005175;
}
.mainContainer .divTitle .titleHr {
  height: 1px;
  background-color: #cacaca;
  text-align: left;
}
.mainContainer .form {
  margin-top: 25px;
  margin-left: 70px;
  padding: 34px 40px;
  width: 50%;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.mainContainer .form .formTitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #3e3d3f;
}
.mainContainer .form .formLine {
  margin-top: 10.5px;
  margin-bottom: 35.5px;
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
}
.mainContainer .form #formContainer {
  height: 100%;
  background-color: #ffffff;
}
.mainContainer .form #formContainer .inputFullContainer {
  width: 100%;
  margin-bottom: 13px;
}
.mainContainer .form #formContainer .inputFullContainer .formLabel {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
}
.mainContainer .form #formContainer .inputFullContainer .invalidLabel {
  color: #da3535;
}
.mainContainer .form #formContainer .inputFullContainer .formInput {
  width: 90%;
  border-radius: 4px;
  border: solid 1px gray;
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  text-align: left;
  font-size: 16px;
}
.mainContainer .form #formContainer .inputFullContainer .invalidInput {
  border: solid 1px #da3535;
}
.mainContainer .form #formContainer .inputFullContainer .invalidMessage {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #da3535;
  display: none;
}
.mainContainer .form #formContainer .inputFullContainer .displayInvalid {
  display: block;
}
.mainContainer .form #formContainer .inputFullContainer .rangeInput {
  display: inline-block;
  padding: 19px 22px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px gray;
  background-color: #ffffff;
  font-size: 16px;
  width: 5%;
  margin: 0px;
}
.mainContainer .form #formContainer .inputFullContainer .slidecontainer {
  width: 85%;
  display: inline-block;
  margin-top: 17px;
  margin-left: 0px;
}
.mainContainer .form #formContainer .inputFullContainer .slidecontainer .minRange, .mainContainer .form #formContainer .inputFullContainer .slidecontainer .maxRange {
  width: 10%;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}
.mainContainer .form #formContainer .inputFullContainer .slidecontainer .slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.mainContainer .form #formContainer .inputFullContainer .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  box-shadow: 0 1px 2px 0 var(--black-27);
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.mainContainer .form #formContainer .inputFullContainer .slidecontainer .slider:hover {
  opacity: 1;
}
.mainContainer .form #formContainer .inputFullContainer .inputHalfContainer {
  width: 45%;
  display: inline-block;
  margin-bottom: 13px;
  margin-right: 4%;
  margin-top: 5px;
}
.mainContainer .form #formContainer #calculateButton {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #0077c0;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}
.mainContainer .resultsContainer {
  width: 20%;
  height: 100%;
  display: inline-block;
  background-color: #eaf6fa;
  padding: 35px 40px;
}
.mainContainer .resultsContainer .resultsTitle {
  font-weight: inherit;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: normal;
}
.mainContainer .resultsContainer .smallLabel {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0px;
  line-height: 2.14;
}
.mainContainer .resultsContainer .resultValue {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  line-height: 1.67;
}
.mainContainer .resultsContainer .resultValue::before {
  content: " $ ";
}
.mainContainer .resultsContainer .emptyValue {
  color: #a1a1a1;
}
.mainContainer .resultsContainer .totalLabel {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.mainContainer .resultsContainer .totalValue {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  line-height: 1.67;
}
.mainContainer .resultsContainer .totalValue::before {
  content: " $ ";
}
.mainContainer .resultsContainer hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
