body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3e3d3f;
}

.mainContainer {
  margin: 10px;
  display: grid;
  padding-bottom: 20px;
}
.mainContainer .divTitle {
  padding: 13px 10px 20px 10px;
}
.mainContainer .divTitle .appTitle {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #006ea0;
}
@media screen and (min-width: 760px) {
  .mainContainer .divTitle .appTitle {
    font-size: 22px;
    font-weight: normal;
  }
}
.mainContainer .divTitle .titleHr {
  height: 0.5px;
  margin-top: 10px;
  background-color: #cacaca;
  text-align: left;
}
.mainContainer .form {
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 20px 20px 20px;
  display: grid;
  row-gap: 5px;
  margin: 0px;
}
.mainContainer .form .formTitle {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
}
.mainContainer .form .formLine {
  margin: 0px;
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
}
.mainContainer .form #formContainer {
  margin-top: 10px;
  display: grid;
  row-gap: 13px;
}
.mainContainer .form #formContainer .formLabel {
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
  padding-bottom: 3px;
}
.mainContainer .form #formContainer .slidecontainer {
  margin: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 9.62% 60.77% 10.38% 19.23%;
  height: 40px;
  vertical-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
}
.mainContainer .form #formContainer .slidecontainer .rangeLabel {
  padding-top: 12px;
  padding-right: 16%;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider {
  padding: 6px 2.78% 6px 0;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider {
  height: 8px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: linear-gradient(to right, #1091cc 0%, #1091cc 50%, #cacaca 50%, #cacaca 100%);
  border-radius: 6px;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider:focus {
  outline: none;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider:hover {
  opacity: 1;
}
.mainContainer .form #formContainer .slidecontainer .rangeSlider .slider::-webkit-slider-thumb {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
  background-color: #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
.mainContainer .form #formContainer .slidecontainer .rangeInput input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #a6a6a6;
  background-color: #ffffff;
}
.mainContainer .form #formContainer .invalidMessage {
  margin-top: 2px;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  height: 10px;
  color: #da3535;
  display: none;
}
.mainContainer .form #formContainer .invalidMessage.displayInvalid {
  display: block;
}
.mainContainer .form #formContainer .invalidInput {
  border-color: #da3535 !important;
}
.mainContainer .form #formContainer .invalidDesktopMessage {
  display: none;
}
.mainContainer .form #formContainer .invalidDesktopMessage.displayInvalid {
  display: none;
}
.mainContainer .form #formContainer .splitedColumns {
  padding-top: 7px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 7.69%;
}
.mainContainer .form #formContainer .currencyContainer {
  border: solid 1px #a6a6a6;
  border-radius: 4px;
  padding: 0 5px 0 15px;
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 1px;
}
.mainContainer .form #formContainer .currencyContainer input {
  width: 100%;
  border: 0;
  height: 40px;
  padding: 12px 0px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  padding: 0;
  letter-spacing: 0.4px;
  color: #0d0d0d;
}
.mainContainer .form #formContainer .currencyContainer input:focus {
  outline: none;
}
.mainContainer .form #formContainer .currencyContainer:before {
  content: "$";
  padding-top: 12px;
  font-size: 14px;
}
.mainContainer .form #formContainer .active {
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
  border: solid 1px #3e3d3f;
  background-color: #ffffff;
}
.mainContainer .form #formContainer #calculateButton {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #0077c0;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 760px) {
  .mainContainer .form #formContainer {
    margin-top: 0px;
    display: grid;
    row-gap: 20px;
  }
  .mainContainer .form #formContainer .formLabel {
    display: block;
    padding: 0px;
    font-size: 14px;
    line-height: 1.21;
  }
  .mainContainer .form #formContainer .slidecontainer {
    grid-template-columns: 7.44% 68.72% 8.46% 15.38%;
    height: 45px;
  }
  .mainContainer .form #formContainer .slidecontainer .rangeLabel {
    padding-right: 17.24%;
    padding-top: 14px;
    font-size: 16px;
  }
  .mainContainer .form #formContainer .slidecontainer .rangeSlider {
    padding: 9px 1.87% 9px 0;
  }
  .mainContainer .form #formContainer .slidecontainer .rangeInput input {
    padding-top: 14px;
    padding-bottom: 13px;
    font-size: 16px;
  }
  .mainContainer .form #formContainer .splitedColumns {
    padding-top: 7px;
    display: grid;
    column-gap: 5.13%;
  }
  .mainContainer .form #formContainer .invalidDesktopMessage {
    margin-top: 2px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    height: 15px;
    color: #da3535;
    display: none;
  }
  .mainContainer .form #formContainer .invalidDesktopMessage.displayInvalid {
    display: block;
  }
  .mainContainer .form #formContainer .invalidMessage {
    display: none;
  }
  .mainContainer .form #formContainer .invalidMessage.displayInvalid {
    display: none;
  }
  .mainContainer .form #formContainer .currencyContainer {
    padding: 12px 5px 12px 25px;
    height: 20px;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 10px 1fr;
    column-gap: 4.5px;
  }
  .mainContainer .form #formContainer .currencyContainer input {
    font-size: 16px;
    padding: 0px;
    height: 20px;
  }
  .mainContainer .form #formContainer .currencyContainer:before {
    content: "$";
    padding-top: 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 760px) {
  .mainContainer .form {
    padding: 34px 40px 40px 40px;
    display: block;
  }
  .mainContainer .form .formTitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }
  .mainContainer .form .formLine {
    margin: 10.5px 0px 35.5px 0px;
    width: 100%;
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}
.mainContainer #resultsContainer {
  vertical-align: top;
  display: grid;
  row-gap: 15px;
  padding: 20px;
  background-color: #eaf6fa;
  animation: slide-down 2s ease;
}
.mainContainer #resultsContainer .resultsTitle {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin: 0px 0px 12px 0px;
}
.mainContainer #resultsContainer .resultDiv {
  display: grid;
  grid-template-columns: 50% 50%;
}
.mainContainer #resultsContainer .resultDiv .valueLabel {
  margin: 0px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.mainContainer #resultsContainer .resultDiv .resultValue {
  margin: 0px;
  font-size: 14px;
  height: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
}
.mainContainer #resultsContainer .resultDiv .resultValue::before {
  content: " $ ";
}
.mainContainer #resultsContainer .resultDiv .totalLabel {
  margin: 4px 0px 3px 0px;
  width: 100%;
}
.mainContainer #resultsContainer .resultDiv .totalValue {
  margin: 0px;
  height: 21px;
  font-size: 20px;
  font-weight: normal;
  text-align: right;
}
.mainContainer #resultsContainer .resultDiv .totalValue::before {
  content: " $ ";
  font-size: 21px;
}
.mainContainer #resultsContainer .emptyValue {
  color: #a1a1a1;
}
.mainContainer #resultsContainer .resultLine {
  height: 0.8px;
  margin: 0;
  padding: 0;
  background-color: #cbcbcb;
}
.mainContainer #resultsContainer .totalLine {
  display: block;
}
.mainContainer #resultsContainer.hidden {
  display: none;
}
@media screen and (min-width: 760px) {
  .mainContainer #resultsContainer {
    margin: 41px 0;
    display: block;
    padding: 13.23% 14.7%;
    animation: none;
    transition: none;
  }
  .mainContainer #resultsContainer .resultsTitle {
    font-size: 20px;
    margin-bottom: 29px;
    padding: 0px;
  }
  .mainContainer #resultsContainer .resultDiv {
    margin-bottom: 20px;
    display: block;
  }
  .mainContainer #resultsContainer .resultDiv .valueLabel {
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: normal;
  }
  .mainContainer #resultsContainer .resultDiv .resultValue {
    height: 100%;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
  }
  .mainContainer #resultsContainer .resultDiv .resultValue::before {
    font-weight: bold;
  }
  .mainContainer #resultsContainer .resultDiv .totalLabel {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
  }
  .mainContainer #resultsContainer .resultDiv .totalValue {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
  }
  .mainContainer #resultsContainer .resultDiv .totalValue::before {
    font-size: 22px;
  }
  .mainContainer #resultsContainer .resultLine {
    display: none;
  }
  .mainContainer #resultsContainer .totalLine {
    display: block;
    margin: 20px 0px;
  }
  .mainContainer #resultsContainer.hidden {
    display: block;
  }
}
@media screen and (min-width: 760px) {
  .mainContainer {
    margin: 10px 50px 10px 30px;
    grid-template-rows: 6.5% 87.14%;
    row-gap: 25px;
  }
  .mainContainer .divContent {
    display: grid;
    height: 522px;
    grid-template-columns: 63.34% 36.66%;
    padding: 0 4.63% 0 4.88%;
  }
}

/*# sourceMappingURL=style.css.map */
