#formContainer {
    margin-top: 10px;
    
    background-color: #ffffff;
    display: grid;
    row-gap:13px;
 
        .formLabel {
            display: block;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: 0.2px;
            text-align: left;
            color: #3e3d3f;
            padding-bottom:3px;
        }


        .slidecontainer {
            margin: 0px;
            width:100%;
            display: grid;
            grid-template-columns: 9.62% 60.77% 10.38% 19.23%;
            height: 40px;
            vertical-align: center;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            .rangeLabel {
                padding-top:12px;
                padding-right: 16%;
            }

            .rangeSlider {
                padding:6px  2.78% 6px 0;
                @import "slider";

            }

            .rangeInput {
            

                input {
                    width: 100%;
                    padding-top:12px;
                    padding-bottom:12px;
                    text-align: center;
                    border-radius: 4px;
                    border: solid 1px #a6a6a6;
                    background-color: #ffffff;
                }
            }



        }

        .invalidMessage{
            margin-top:2px;
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            height: 10px;
            color: #da3535;
            display : none;
        }

        .invalidInput{
            border-color: #da3535 !important;
        }

        .invalidDesktopMessage{
            display : none;

        }
        .displayInvalid{
            display : block;
        }

        .splitedColumns{
            padding-top: 7px;
            display:grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            column-gap: 7.69%;

        }

        .currencyContainer {
            border: solid 1px #a6a6a6;
            border-radius: 4px;
            padding: 0 5px 0 15px;
        
            display: grid;
            grid-template-columns: 10px 1fr;
            column-gap: 1px;
            input {
                width: 100%;
                border: 0;
                height: 40px;
                padding: 12px 0px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                padding:0;
                letter-spacing: 0.4px;
                color: #0d0d0d;
                &:focus{
                    outline: none;
                }
            }
            &:before{
                content:'$';
                padding-top: 12px;
                font-size: 14px;
            }

        }
        .active{
            border-radius: 4px;
            box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
            border: solid 1px #3e3d3f;
            background-color: #ffffff;
        }


    #calculateButton {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border-color: transparent;
        background-color: #0077c0;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
        color: #ffffff;
    }
}