
// slide down effect
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(1px);
    }
}


// div container for results
#resultsContainer {
    vertical-align: top;
    display: grid;
    row-gap: 15px;
    padding: 20px;
    background-color: #eaf6fa;
    animation: slide-down 2s ease;
    z-index: -1;

    //results title
    .resultsTitle {
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        margin: 0px 0px 12px 0px;

    }

    // div containing each result line
    .resultDiv {
        display: grid;
        grid-template-columns: 50% 50%;

        // result value label before the tax,interest and insurance
        .valueLabel {
            margin: 0px;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
        }

        //result value for tax,interest and insurance
        .resultValue {
            margin: 0px;
            font-size: 14px;
            height: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;

            &::before {
                content: " $ ";
            }
        }

        // total label before the value
        .totalLabel {
            margin: 4px 0px 3px 0px;
            width: 100%;
        }

        // total monthly payment
        .totalValue {
            margin: 0px;
            height: 21px;
            font-size: 20px;
            font-weight: normal;
            text-align: right;
            // insert '$' sign
            &::before {
                content: " $ ";
                font-size: 21px;
            }
        }



    }


    // change the color when value its empty
    .emptyValue {
        color: #a1a1a1;
    }

    //dividing line for the results
    .resultLine {
        height: 1px;
        background-color: #cbcbcb;
    }

    //dividing line for the total
    .totalLine {
        display:block;
    }

    //when the container is hidden on mobile view
    &.hidden {
        display: none;
    }


    // defines the desktop view for the container
    @media screen and (min-width: $break-small) {
        margin: 41px 0;
        display:block;
        padding :13.23% 14.7%;
        animation: none;

        // changes minor sizes
        .resultsTitle {
            font-size: 20px;
            margin-bottom: 29px;
            padding:0px;
        }

        // there is no grid but block display
        .resultDiv {
            margin-bottom: 20px;
            display:block;

            // minor size changes for the labels
            .valueLabel {
                margin: 0px 0px ;
                padding: 0px;
                font-size: 14px;
                line-height: 2.14;
                letter-spacing: normal;
              
            }
            // minor size changes for the results, aligned to left
            .resultValue {
                height: 100%;

                margin: 0px;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: left;    
                &::before {
                    font-weight: bold;
                }
            }
            // minor size changes for the labels
            .totalLabel {
                margin: 0px;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
            }
            // minor size changes for the total, aligned to left
            .totalValue {
                font-size: 22px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: left;    
                &::before {
                    font-size: 22px;
                }
            }
        }

        // lines are not visible on desktop
        .resultLine {
            display: none;
        }

        // just the total line is visible on desktop
        .totalLine{
            display:block;
            margin : 20px 0px;
        }

        // the result container is always visible on desktop
        &.hidden {
            display: block;
        }
    }

}
