.slider {
  height: 8px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: linear-gradient(to right, #1091cc 0%, #1091cc 50%, #cacaca 50%, #cacaca 100%);
  border-radius: 6px;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    background-color: #ffffff;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    
  }
}