
.divTitle {
    margin: 10px 50px;

    .appTitle {
        font-weight: normal;
        line-height: 1.36;
        text-align: left;
        color: #005175;
    }

    .titleHr {
        height: 1px;
        background-color: #cacaca;
        text-align: left;
    }
    
}