
.divTitle {
    padding: 13px 10px 20px  10px;

    .appTitle {
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        
        text-align: left;
        color: #006ea0;
    }

    .titleHr {
        height: 0.5px;
        margin-top: 10px;

        background-color: #cacaca;
        text-align: left;
    }
    
}