$break-small: 700px;
body{
    
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3e3d3f;
}
.mainContainer {
    margin: 10px;
    display: grid;
    padding-bottom: 20px;

    @import "title"; //OK
    
    @import "form"; 

    @import "results";
   
        @media screen and (min-width: $break-small) {
            .divContent {
            display: grid;
            grid-template-columns: 53.4% 30.91%;
            padding: 0 8.86% 0 6.81%;
        }
    }
}